---
---

@import "bourbon/bourbon";

$font-size:			18px;
$navy:					#070760;
$blue:					#6F829E;
$text:					#424242;
$mughshot-size:	150px;		


@mixin wrapper {
	width: 700px;
	padding: 50px 0;
	margin: auto;
}

* { margin: 0; padding: 0; }

html, body { background: white; color: $text; font-size: $font-size; font-family: 'Merriweather', serif; font-weight: 300; line-height: 1.75em;
 }

h1, h2, h3, h4, h5, h6, ul, ol, pre, p { margin-bottom: $font-size; }
h1 { text-transform: uppercase;  line-height: 1; }

a { text-decoration: none; color: $blue; }
a:hover { color: darken($blue, 10); }



.header {
	color: white; 
	height: 95vh;
	background: rgba(39,62,84,0.5) center center no-repeat;
  background-size: cover;
}

.menu-icon { 
	position: absolute;
	top: 1em; left: 1em;
	img {
			color: white;
			max-width: 100px; 
	}
}

.meta { 
	color: white;
	width: 80%; margin: auto;
	position: relative;

	top: -45vh;

	.title { font-size: 10vh; text-shadow: #111 1px 1px 5px; margin: 0; }
	.subline { margin: 0; }
	.mugshot { 
		float: left; 
		margin-right: $font-size;
		max-width: $mughshot-size; height: auto; max-height: $mughshot-size; overflow: hidden; 
		border: white 5px solid; border-radius: 5px; }
}
.meta.home {
	top: -60vh;
}
.summary, .content { @include wrapper; }

.list li { list-style: none; }

article {
	h1, h2, h3, h4, h5, h6 { margin: $font-size*3 0;}
	:first-child { margin-top: 0; }
}

footer { 
	margin-top: 75px;
	text-align: center; 
	.wrapper {
		@include wrapper;
	}
}